.root{
	-fx-background: rgb(180,180,180);
}

.button{
	-fx-background-color: rgb(180,180,180);
}

.button:hover{
	-fx-background-color: rgb(200,200,200);
}

.button:pressed{
	-fx-background-color: rgb(160,160,160);
}
